* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;
    /* height: 100vh; - 100% Da Altura da Tela do Navegador */
    /* width: 100%;   - 100% Da Largura da Tela do Navegador */
}

.Nav {
    padding: 2% 0% 0% 15%;
    display: flex;
    gap: 80px;
}

.Home {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #25e4ff;
    text-decoration:none;

}

.DestaqueTitulo {
    color: #25e4ff;
}

.Principal {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Principal section {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.Subtitulo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.SubTitulo2 {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.button {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}

.button :hover {
    background-color: #272727;
}

.LinkedIn {
    /* background: #25e4ff; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #25e4ff;
    width: 378px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #f6f6f6;
    padding: 21.5px 0;
    border-radius: 16px; 
}

.GitHub {
    /* background: #25e4ff; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #25e4ff;
    width: 378px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #f6f6f6;
    padding: 21.5px 0;
    border-radius: 16px;
}


.Instagran {
    /* background: #25e4ff; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #25e4ff;
    width: 378px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #f6f6f6;
    padding: 21.5px 0;
    border-radius: 16px;
}

.copyrigth {
    background-color: #25e4ff;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    padding: 20px;
}

