* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #F6F6F6;
    height: 100vh; /* 100% Da Altura da Tela do Navegador*/
    width: 100%;   /* 100% Da Largura da Tela do Navegador*/
}

.DestaqueTitulo {
    color: #25e4ff;
}

.Principal {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Principal section {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.Subtitulo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.SubTitulo {
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.button {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}

.LinkedIn {
    /* background: #25e4ff; */
    border: 2px solid #25e4ff;
    width: 378px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #f6f6f6;
    padding: 21.5px 0;
    border-radius: 16px; 
}

.GitHub {
    /* background: #25e4ff; */
    border: 2px solid #25e4ff;
    width: 378px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #f6f6f6;
    padding: 21.5px 0;
    border-radius: 16px;
}

.Instagran {
    /* background: #25e4ff; */
    border: 2px solid #25e4ff;
    width: 378px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #f6f6f6;
    padding: 21.5px 0;
    border-radius: 16px;
}
